<app-header></app-header>
<app-carousel></app-carousel>

<main class="main">
  <div class="main-top">
    <app-sorting></app-sorting>
    <app-search></app-search>
  </div>
  <div class="sneakers-wrapper">
    <mat-card class="card" *ngFor="let sneakers of sneakers$ | async">
      <mat-card-header>
        <mat-card-title>{{ sneakers.name }}</mat-card-title>
      </mat-card-header>
      <a target="_blank" href="{{ sneakers.imgLink }}" class="card-link">
        <img
          mat-card-image
          src="{{ sneakers.imgLink }}"
          alt="{{ sneakers.name }}"
        />
      </a>
      <mat-card-content>
        <span class="card-price">{{ sneakers.price }} $</span>
      </mat-card-content>
      <mat-card-actions class="card-btns">
        <button mat-button (click)="addingToFavorite()" class="card-button">
          <mat-icon *ngIf="!favorite; else favoriteBlock">
            favorite_border
          </mat-icon>
          <ng-template #favoriteBlock>
            <mat-icon>favorite</mat-icon>
          </ng-template>
        </button>
        <button mat-button (click)="addingToCart()" class="card-button">
          <mat-icon *ngIf="!addedToCart; else cartBlock">
            add_shopping_cart
          </mat-icon>
          <ng-template #cartBlock>
            <mat-icon>done</mat-icon>
          </ng-template>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>

<footer class="footer">
  <p class="footer-copyright">
    © Copyright, 2022
  </p>
</footer>
