.form-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 250px;
}

.search-form {
  width: 200px;
  margin-right: 50px;
}

.form-field {
  position: relative;
}

mat-icon {
  position: absolute;
  top: -13px;
  right: -175px;
  opacity: 0.5;
}
